.additional-product__wrapper {
  margin: 0;
  padding: 25px 20px 35px;
}

.additional-product__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.additional-product__list {
  margin: 0;
  padding: 0;
  border-top: 1px solid #cdcdcd;
}

.additional-product__item {
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #cdcdcd;
}

.additional-product__link {
  text-decoration: none;
}

.additional-product__heading {
  margin: 13px 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional-product__container {
  display: flex;
  justify-content: space-between;
  font-family: "Arial";
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-product__toggle {
  width: 100%;
  margin-bottom: 19px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  background-color: #68b738;
}

.additional-product__description,
.additional-product__price {
  margin: 0;
  margin-bottom: 15px;
}

.additional-product__index {
  margin: 0;
  margin-top: 35px;
  height: 290px;
  background-image: url(/img/gift.svg),
    url(/img/backpack.jpg);
  background-repeat: no-repeat;
  background-position: top 60px center, top 0 center;

}

.additional-product__gift {
  margin: 0;
  padding: 187px 61px 43px 58px;
  font-family: "Arial";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border-top: 1px solid #cdcdcd;
}
