.additional-product__wrapper {
  margin: 0;
  padding: 25px 20px 35px;
  border-top: 1px solid $color-light-grey;
}

@media screen and (min-width: 768px) {
  .additional-product__wrapper {
    margin: 0;
    padding: 68px 30px 76px;
    border: none;
  }
}

@media screen and (min-width: 1440px) {
  .additional-product__wrapper {
    margin: 0;
    padding: 75px 110px 86px;
    border: none;
  }
}

.additional-product__title {
  margin: 0;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $color-black;
}

@media screen and (min-width: 768px) {
  .additional-product__title {
    margin: 0;
    margin-bottom: 80px;
  }
}

.additional-product__list {
  margin: 0;
  padding: 0;
  border-top: 1px solid $color-border-dark-grey;
}

@media screen and (min-width: 768px) {
  .additional-product__list {
    margin: 0;
    padding: 0;
    border: 1px solid $color-border-dark-grey;
  }
}

@media screen and (min-width: 1440px) {
  .additional-product__list {
    margin: 0;
    padding: 0;
    border-left: none;
    border-right: none;
  }
}

@media screen and (min-width: 1440px) {
  .additional-product__list-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.additional-product__item {
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid $color-border-dark-grey;
}

@media screen and (min-width: 768px) {
  .additional-product__item {
    padding: 26px 38px 28px;
    min-width: 632px;
  }
}

@media screen and (min-width: 1440px) {
  .additional-product__item {
    padding: 25px 0 27px;
    min-width: 895px;
    display: flex;
  }
}

.additional-product__link {
  text-decoration: none;
}

.additional-product__heading {
  margin: 13px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-special-dark-grey;
}

.additional-product__container {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $color-dark-grey;
}

.additional-product__toggle {
  width: 100%;
  margin-bottom: 19px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  background-color: $color-green;
}

.additional-product__description,
.additional-product__price {
  margin: 0;
  margin-bottom: 15px;
}

.additional-product__index {
  margin: 0;
  margin-top: 35px;
  height: 290px;
  background-image: url("/img/gift.svg"),
    url("/img/backpack.jpg");
  background-repeat: no-repeat;
  background-position: top 60px center, top 0 center;
}

@media screen and (min-width: 768px) {
  .additional-product__index {
    width: 100%;
    margin-top: 69px;
    max-height: 200px;
    background-color: $color-green;
  }
}

@media screen and (min-width: 1440px) {
  .additional-product__index {
    max-width: 244px;
    max-height: 288px;
  }
}

.additional-product__gift {
  margin: 0;
  padding: 187px 61px 43px 58px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-white;
}
