.advantages__wrapper {
  margin: 0;
  padding: 0 20px 29px;
}

.advantages__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.advantages__list {
  margin-top: 40px;
  padding: 0;
  font-family: "Arial",sans-serif;
  color: $color-dark-grey;
  list-style-type: none;
}

.advantages__item p{
  margin: 0;
  padding-bottom: 26px;
  display: flex;
}

.advantages__item-icon {
  margin-right: 20px;
}

