.advantages__wrapper {
  margin: 0;
  padding: 0 20px 29px;
}

.advantages__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  margin-top: 40px;
  padding: 0;
  font-family: 'Arial';
  color: #444444;
  list-style-type: none;
}

.advantages__item p{
  margin: 0;
  padding-bottom: 26px;
  padding-left: 80px;
}

.advantages__item-first {
  background-image: url(/img/advantages-group/advantages-group-1.svg);
  background-repeat: no-repeat;
}

.advantages__item-second {
  background-image: url(/img/advantages-group/advantages-group-2.svg);
  background-repeat: no-repeat;
}

.advantages__item-third {
background-image: url(/img/advantages-group/advantages-group-3.svg);
background-repeat: no-repeat;
}

.advantages__item-fourth {
background-image: url(/img/advantages-group/advantages-group-4.svg);
background-repeat: no-repeat;
}
