.catalog-wrapper {
  margin: 0;
  border-top: 1px solid $color-border-grey;
}

.catalog__title-wrapper {
  padding: 23px 41px 41px 20px;
}

.catalog__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
