.catalog-wrapper {
  margin: 0;
  border-top: 1px solid $color-border-grey;
}

@media screen and (min-width: 768px) {
  .catalog-wrapper {
    border: none;
  }
}

.catalog__title-wrapper {
  padding: 24px 41px 41px 20px;
}

@media screen and (min-width: 768px) {
  .catalog__title-wrapper {
    padding: 9px 30px 22px;
  }
}

@media screen and (min-width: 1440px) {
  .catalog__title-wrapper {
    padding: 35px 110px 22px;
  }
}

.catalog__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

@media screen and (min-width: 768px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
  }
}
