.comments__wrapper {
  margin: 0;
  padding: 0 20px 22px;
}

@media screen and (min-width: 768px) {
  .comments__wrapper {
    margin: 0;
    padding: 65px 70px 0 65px;
  }
}

@media screen and (min-width: 1440px) {
  .comments__wrapper {
    margin: 0;
    padding: 67px 110px 0;
  }
}

.comments__title {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $color-black;
}

@media screen and (min-width: 768px) {
  .comments__title {
    margin: 0;
    margin-bottom: 76px;
  }
}

.comments__textarea {
  min-width: 275px;
  font-family: "Oswald",sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $color-border-dark-grey;
  border: 1px solid $color-border-comments;
}

@media screen and (min-width: 768px) {
  .comments__textarea {
    width: 100%;
  }
}
