.example__wrapper {
  margin: 0;
  padding: 25px 20px 20px;
  background-color: $color-index-grey;
}

@media screen and (min-width: 768px) {
  .example__wrapper {
    margin: 0;
    padding: 43px 30px 63px 30px;
    background-color: $color-white;
  }
}

@media screen and (min-width: 1440px) {
  .example__wrapper {
    margin: 0;
    padding: 0 110px 75px;
    background-color: $color-white;
  }
}

.example__wrapper--color {
  margin: 0;
  padding: 21px 17px 20px 20px;
  background-color: $color-index-grey;
}

@media screen and (min-width: 768px) {
  .example__wrapper--color {
    margin: 0;
    padding: 0 32px 250px 30px;
    background-color: $color-white;
  }
}

@media screen and (min-width: 1440px) {
  .example__wrapper--color {
    margin: 0;
    padding: 72px 70px 75px 110px;
    min-width: 450px;
    background-color: $color-index-grey;
  }
}

.example__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  color: $color-dark-grey;
}

@media screen and (min-width: 768px) {
  .example__description {
    margin: 0;
    margin-bottom: 54px;
    max-width: 700px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .example__description {
    margin-bottom: 69px;
    max-width: 436px;
  }
}

@media screen and (min-width: 768px) {
  .example__tablet {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .example__tablet {
    max-width: 400px;
    flex-wrap: wrap;
    justify-content: start;
  }
}

.example__index {
  display: flex;
  justify-content: space-between;
}

.example__result {
  margin: 0;
  padding: 0;
  min-width: 124px;
  min-height: 56px;
  border: 1px solid $color-border-dark-grey;
  border-radius: 3px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .example__result {
    margin-right: 40px;
    min-width: 162px;
    min-height: 72px;
  }
}

.example__time {
  width: 87px;
  height: 29px;
  position: absolute;
  top: 44px;
  left: 18px;
  background-color: $color-index-grey;
}

@media screen and (min-width: 768px) {
  .example__time {
    top: 62px;
    background: $color-white;

    br {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .example__time--weight {
    width: 114px;
    left: 21px;
  }

  .example__time--data {
    width: 142px;
    left: 5px;
  }
}

@media screen and (min-width: 1440px) {
  .example__time {
    background-color: $color-index-grey;
  }
}

.example__heading {
  margin: 12px 0 0 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $color-dark-grey;
}

@media screen and (min-width: 768px) {
  .example__heading {
    margin-top: 15px;
    font-size: 14px;
    line-height: 14px;
  }
}

.example__number {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .example__number {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__price {
  margin: 32px 0 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .example__price {
    margin: 9px 0 0 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 20px;
  }

  .example__price-number {
    margin-top: 9px;
    align-self: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .example__price {
    margin-top: 58px;
    display: grid;
    grid-template-columns: 174px 150px;
    gap: 42px;
  }

  .example__price-number {
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .example__wrapper--slider {
    display: flex;
  }

  .example__price-number {
    margin-right: 18px;
  }
}
