.example__wrapper {
  margin: 0;
  padding: 25px 20px 40px;
  background-color: $color-index-grey;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial",sans-serif;
  color: $color-dark-grey;
}

.example__index {
  display: flex;
  justify-content: space-between;
}

.example__result {
  margin: 0;
  padding: 0;
  min-width: 124px;
  min-height: 56px;
  border: 1px solid $color-border-dark-grey;
  border-radius: 3px;
  position: relative;
}

.example__time {
  width: 87px;
  height: 29px;
  position: absolute;
  top: 42px;
  left: 20px;
  background-color: $color-index-grey;
}

.example__heading {
  padding: 0 14px;
  font-family: "Arial",sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $color-dark-grey;
}

.example__number {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

.example__price {
  margin: 34px 0 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
