.example__wrapper {
  margin: 0;
  padding: 25px 20px 20px;
  background-color: $color-index-grey;
}

@media screen and (min-width: 768px) {
  .example__wrapper {
    margin: 0;
    padding: 43px 30px 63px;
    background-color: $color-white;
  }
}

@media screen and (min-width: 1440px) {
  .example__wrapper {
    margin: 0;
    padding: 0 110px 75px;
    background-color: $color-white;
  }
}

.example__wrapper--color {
  margin: 0;
  padding: 25px 20px 40px;
  background-color: $color-index-grey;
}

@media screen and (min-width: 768px) {
  .example__wrapper--color {
    margin: 0;
    padding: 0 30px 100px;
    background-color: $color-white;
  }
}

@media screen and (min-width: 1440px) {
  .example__wrapper--color {
    margin: 0;
    padding: 70px 110px 75px;
    background-color: $color-index-grey;
  }
}

.example__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

@media screen and (min-width: 1440px) {
  .example__color {
    background-color: $color-index-grey;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial",sans-serif;
  color: $color-dark-grey;
}

@media screen and (min-width: 768px) {
  .example__description {
    margin: 0;
    margin-bottom: 54px;
  }
}

@media screen and (min-width: 1440px) {
  .example__description {
    margin-bottom: 69px;
    max-width: 436px;
  }
}

@media screen and (min-width: 768px) {
  .example__tablet {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .example__tablet {
    justify-content: start;
  }
}

.example__index {
  display: flex;
  justify-content: space-between;
}

.example__result {
  margin: 0;
  padding: 0;
  min-width: 124px;
  min-height: 56px;
  border: 1px solid $color-border-dark-grey;
  border-radius: 3px;
  position: relative;
}

.example__time {
  width: 87px;
  height: 29px;
  position: absolute;
  top: 42px;
  left: 20px;
  background-color: $color-index-grey;
}

.example__heading {
  padding: 0 14px;
  font-family: "Arial",sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $color-dark-grey;
}

.example__number {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

.example__price {
  margin: 34px 0 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
