.main-container {
  margin: 0;
  padding: 0;
  background-image: url(../img/can-mobile.png),
  url(../img/background-cat.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top 170px center, top 0 center;
}
