.main-header {
  margin: 0;
  display: flex;
}

@media screen and (min-width: 768px) {
  .main-header {
    padding: 20px 30px 33px 10px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .main-header {
    padding: 48px 110px 20px 90px;
  }
}

.main-header-catalog {
  position: relative;
  margin: 0;
  display: flex;
}

@media screen and (min-width: 768px) {
  .main-header-catalog {
    justify-content: space-between;
  }
}

.main-header__logo-link {
  margin-right: 56px;
}

.main-header__logo-link--text {
  display: block;
  align-self: center;
  margin-right: 90px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media screen and (min-width: 768px) {
  .main-header__logo-link--text {
    display: none;
  }
}

.main-header__logo-icon {
  align-self: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media screen and (min-width: 768px) {
  .main-header__logo-icon {
    margin-top: -4px;
    min-width: 174px;
  }
}

@media screen and (min-width: 1440px) {
  .main-header__logo-icon {
    min-width: 202px;
  }
}

.main-header__logo-text {
  margin-top: 5px;
}

.main-nav__toggle {
  position: absolute;
  top: 11px;
  right: 11px;
  z-index: 2;
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background-color: $color-white;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  background-image: url("/img/burger-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .main-nav--closed .site-navigation__item {
    display: none;

    &--active {
      display: block;
    }
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 19px;
    width: 26px;
    height: 2px;
    background-color: $color-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
