.contacts-info__text {
  margin: 0;
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .contacts-info__text {
    margin: 0;
    padding: 60px 70px 56px;
    display: grid;
    grid-template-columns: 163px 155px;
  }
}

.contacts-info__text-catalog{
  margin: 0;
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  background-color: $color-grey;
}

@media screen and (min-width: 768px) {
  .contacts-info__text-catalog {
    margin: 0;
    padding: 60px 70px 56px;
    display: grid;
    grid-template-columns: 163px 155px;
    background-color: $color-grey;
  }
}

.contacts-info__slogan {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-black-text;
}

.contacts-info__address {
  margin: 0;
  font-family: "Arial",sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $color-dark-grey;
}

.main-footer__container {
  padding: 0 20px;
  background-color: $color-grey;
}

@media screen and (min-width: 768px) {
  .main-footer__container {
    margin: 0;
    padding: 58px 30px 55px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .main-footer__container {
    margin: 0;
    padding: 50px 110px;
  }
}

.logo-footer {
  margin: 0;
}

.logo-footer__link {
  display: block;
  text-align: center;
}

.logo-footer__icon {
  margin: 39px 0 32px;
}

@media screen and (min-width: 768px) {
  .logo-footer__icon {
    margin: 0;
  }
}

.social {
  margin: 0;
}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.social__item {
  display: block;
  padding: 20px 12px 21px;
}

@media screen and (min-width: 768px) {
  .social__item {
    padding: 7px 12px 10px;
  }
}

.copyright {
  margin: 0;
  padding: 20px 2px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px)  {
  .copyright {
    margin: 0;
    padding: 0;
  }
}

.copyright__link-academy {
  margin-top: 8px;
  font-family: "Arial",sans-serif;
  text-decoration: none;
  color: $color-dark-grey;
}

.logo-footer + .social {
  border-top: 1px solid $color-border-grey;
}

@media screen and (min-width: 768px) {
  .logo-footer + .social {
    border: none;
  }
}

.social + .copyright {
  border-top: 1px solid $color-border-grey;
}

@media screen and (min-width: 768px) {
  .social + .copyright {
    border: none;
  }
}
