.main-header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 17px;
}

@media screen and (min-width: 768px) {
  .main-header {
    padding: 18px 30px;
  }
}

@media screen and (min-width: 1440px) {
  .main-header {
    padding: 44px 110px 10px;
  }
}

.main-header__logo-link {
  display: flex;
  justify-content: space-between;
  width: 190px;
}

.main-header__logo-icon {
  align-self: center;
}

.main-header__logo-text {
  align-self: center;
}

.main-nav__toggle {
  width: 40px;
  height: 40px;
  background-image: url("/img/burger-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-white;
}

@media screen and (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
