.main-header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 17px;
}

@media screen and (min-width: 768px) {
  .main-header {
    padding: 18px 30px;
  }
}

@media screen and (min-width: 1440px) {
  .main-header {
    padding: 44px 110px 10px;
  }
}

.main-header__logo-link {
  display: flex;
  justify-content: space-between;
  width: 190px;
}

.main-header__logo-icon {
  align-self: center;
}

.main-header__logo-text {
  align-self: center;
}

.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background-color: $color-white;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  background-image: url("/img/burger-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .main-nav--closed .site-navigation__item {
    display: none;

    &--active {
      display: block;
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 7px;
    width: 26px;
    height: 2px;
    background-color: $color-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
