.contacts-info {
  position: relative;
}

.contacts-info__text {
  margin: 0;
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .contacts-info__text {
    margin: 0;
    padding: 60px 70px 56px;
    display: grid;
    grid-template-columns: 163px 155px;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-info__text {
    position: absolute;
    top: 97px;
    left: 110px;
    padding: 56px 80px;
    gap: 87px;
    background-color: $color-white;
  }
}

.contacts-info__text-catalog {
  margin: 0;
  padding: 31px 20px 26px;
  display: flex;
  justify-content: space-between;
  background-color: $color-grey;
}

@media screen and (min-width: 768px) {
  .contacts-info__text-catalog {
    margin: 0;
    padding: 59px 70px 56px;
    display: grid;
    grid-template-columns: 163px 155px;
    background-color: $color-grey;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-info__text-catalog {
    position: absolute;
    top: 97px;
    left: 110px;
    padding: 56px 80px;
    gap: 87px;
    background-color: $color-white;
  }
}

.contacts-info__slogan {
  margin: 0;
  min-width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-black-text;
}

@media screen and (min-width: 768px) {
  .contacts-info__slogan {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts-info__address {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: $color-dark-grey;
}

@media screen and (min-width: 768px) {
  .contacts-info__address {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-info__address {
    text-align: start;
  }
}

.contacts-info__address-next {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $color-dark-grey;
}

@media screen and (min-width: 768px) {
  .contacts-info__address-next {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-info__address-next {
    margin-top: 17px;
    text-align: start;
  }
}

.contacts__info-pin {
  position: absolute;
  top: 52%;
  left: 40%;
}

@media screen and (min-width: 768px) {
  .contacts__info-pin {
    min-width: 113px;
    min-height: 106px;
    top: 50%;
    left: 43%;
  }
}

@media screen and (min-width: 1440px) {
  .contacts__info-pin {
    top: 26%;
    left: 46%;
  }
}

.contacts__info-iframe {
  border: none;
  display: block;
  width: 100%;
  max-height: 362px;
}

@media screen and (min-width: 768px) {
  .contacts__info-iframe {
    max-height: 400px;
  }
}

.main-footer__container {
  padding: 0 20px;
  background-color: $color-grey;
}

@media screen and (min-width: 768px) {
  .main-footer__container {
    margin: 0;
    padding: 56px 30px 55px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .main-footer__container {
    margin: 0;
    padding: 52px 110px;
  }
}

.logo-footer {
  margin: 0;
}

.logo-footer__link {
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logo-footer__link {
    margin-top: 10px;
  }
}

.logo-footer__icon {
  margin: 38px 0 28px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media screen and (min-width: 768px) {
  .logo-footer__icon {
    margin: 0;
  }
}

.social {
  margin: 0;
  max-width: 300px;
}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .social__list {
    margin-left: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .social__list {
    margin-left: 27px;
  }
}

.social__item {
  display: block;
  padding: 20px 12px 18px;
}

@media screen and (min-width: 768px) {
  .social__item {
    padding: 7px 12px 10px;
  }
}

.social__icon {
  fill: $color-special-grey;

  &:hover {
    fill: $color-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright {
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .copyright {
    margin: 0;
    padding: 2px 0;
  }
}

@media screen and (min-width: 1440px) {
  .copyright {
    margin: 0;
    padding: 4px 0;
  }
}

.copyright__link-academy {
  margin-top: 8px;
  max-width: 150px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: $color-dark-grey;

  &:active {
    opacity: 0.3;
  }
}

@media screen and (min-width: 768px) {
  .copyright__link-academy {
    margin-right: 22px;
  }
}

.copyright__icon {
  fill: $color-special-grey;

  &:hover {
    fill: $color-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo-footer + .social {
  border-top: 1px solid $color-border-grey;
}

@media screen and (min-width: 768px) {
  .logo-footer + .social {
    border: none;
  }
}

.social + .copyright {
  border-top: 1px solid $color-border-grey;
}

@media screen and (min-width: 768px) {
  .social + .copyright {
    border: none;
  }
}
