.main-container {
  margin: 0;
  padding: 0;
  background-image: url(../img/background-cat.jpg),
  url(../img/can-mobile\ .jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position:  top 0 center, top 140px center;
}
