.no-js {
  .main-header {
    position: relative;
  }

  @media screen and (max-width: 768px) {
    .main-header {
      flex-direction: column;
    }
  }

  .site-navigation {
    position: relative;
    top: -1px;
    left: 0;
  }
}

@media screen and (min-width: 1440px) {
  .main-nav {
    position: relative;
  }
}

.main-header__logo-link-wrap {
  display: flex;
  padding: 10px 20px 17px;
}
