.page__body {
  width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page__main {
  margin: 0;
  padding: 0;
}

.page__main-catalog {
  margin: 0;
  padding: 0;
}

.page__main-form {
  margin: 0;
  padding: 0;
}
