.page__body {
  max-width: 320px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .page__body {
    min-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .page__body {
    min-width: 1440px;
  }
}

.page__main {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .page__main {
    min-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .page__main {
    min-width: 1440px;
  }
}

.page__main-catalog {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .page__main-catalog {
    min-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .page__main-catalog {
    min-width: 1440px;
  }
}

.page__main-form {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .page__main-form {
    min-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .page__main-form {
    min-width: 1440px;
  }
}
