@media screen and (min-width: 768px) {
  .programs__wrapper {
    margin: 0;
    padding: 65px 67px 0 70px;
  }
}

@media screen and (min-width: 1440px) {
  .programs__wrapper {
    margin: 0;
    padding: 77px 110px 0;
  }
}

.programs__name {
  margin: 0;
  padding: 27px 20px 25px;
  border-top: 1px solid $color-border-grey;
}

@media screen and (min-width: 768px) {
  .programs__name {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.programs__heading {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-black;
}

.programs__text {
  margin: 0;
  margin-top: 37px;
  text-transform: uppercase;
  color: $color-black;
}

@media screen and (min-width: 768px) {
  .programs__text {
    margin: 55px 0 66px;
  }
}

@media screen and (min-width: 1440px) {
  .programs__index {
    display: flex;
    justify-content: space-between;
  }
}
