.program__wrapper {
  margin: 0;
  padding: 0 20px 20px;
}

@media screen and (min-width: 768px) {
  .program__wrapper {
    margin: 0;
    margin-top: -10px;
    padding: 0 30px 45px;
  }
}

@media screen and (min-width: 1440px) {
  .program__wrapper {
    margin: 0;
    padding: 64px 110px 70px;
  }
}

.program__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (min-width: 1440px) {
  .program__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
}

.program__item {
  margin-top: 20px;
  padding: 29px 20px 19px;
  background-color: $color-grey;
}

@media screen and (min-width: 768px) {
  .program__item {
    margin-top: 30px;
    padding: 77px 0 57px 53px;
  }
}

@media screen and (min-width: 1440px) {
  .program__item {
    margin: 0;
    padding: 77px 52px 59px;
    max-width: 570px;
  }
}

.program__item--cat-sitting {
  background-image: url("/img/cat_back-2.svg");
  background-repeat: no-repeat;
  background-position: top 21px left 22px;
}

@media screen and (min-width: 768px) {
  .program__item--cat-sitting {
    background-image: url("/img/cat_back-tablet-1.svg");
    background-repeat: no-repeat;
    background-position: top 81px right 62px;
  }
}

@media screen and (min-width: 1440px) {
  .program__item--cat-sitting {
    background-image: url("/img/cat_back-desktop-1.svg");
    background-repeat: no-repeat;
    background-position: top 41px left 52px;
  }
}

.program__item--walking-cat {
  background-image: url("/img/cat_back-1.svg");
  background-repeat: no-repeat;
  background-position: top 24px left 13px;
}

@media screen and (min-width: 768px) {
  .program__item--walking-cat {
    background-image: url("/img/cat_back-tablet-2.svg");
    background-repeat: no-repeat;
    background-position: top 90px right 28px;
  }
}

@media screen and (min-width: 1440px) {
  .program__item--walking-cat {
    background-image: url("/img/cat_back-desctop-2.svg");
    background-repeat: no-repeat;
    background-position: top 47px left 33px;
  }
}

.program__title {
  margin: 0;
  margin-left: 71px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .program__title {
    margin: 0;
    max-width: 340px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .program__title {
    margin: 0;
    margin-left: 75px;
    text-align: center;
  }

  .program__title--walking-cat {
    margin-left: 95px;
  }
}

.program__description {
  font-family: "Arial", sans-serif;
  margin: 30px 0 0;
  color: $color-dark-grey;
}

@media screen and (min-width: 768px) {
  .program__description {
    margin: 24px 315px 52px 0;
    font-size: 16px;
    line-height: 24px;
    max-width: 350px;
  }
}

@media screen and (min-width: 1440px) {
  .program__description {
    margin: 74px 0 27px;
    max-width: 480px;
  }
}

.program__product-link {
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-black;
  background-image: url("/img/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: top 22px left 100px;
}

.program__product-link:hover {
  background-image: url("/img/right-arrow-active.svg");
  background-repeat: no-repeat;
  background-position: top 25px left 100px;
}

.program__product-link:active {
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .program__product-link {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    background-position: top 9px left 130px;
  }
}

@media screen and (min-width: 1440px) {
  .program__product-link {
    background-position: top 8px left 136px;
  }

  .program__product-link-pro {
    background-position: top 8px left 130px;
  }
}

@media screen and (min-width: 768px) {
  .program__product-link:hover {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    background-position: top 9px left 128px;
  }
}

.program__description + .program__product-link {
  margin-top: 22px;
  padding-top: 22px;
  border-top: 1px solid $color-border-grey;
}

@media screen and (min-width: 768px) {
  .program__description + .program__product-link {
    margin: 0;
    padding: 0;
    border: none;
  }
}
