.slider {
  padding: 0 20px 40px;
  background-color: $color-index-grey;
}

@media screen and (min-width: 768px) {
  .slider {
    position: relative;
    padding: 0;
    min-height: 462px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .slider {
    width: 100%;
  }
}

.slider__container {
  display: flex;
  position: relative;
  min-height: 256px;
}

@media screen and (min-width: 768px) {
  .slider__container {
    padding: 0 104px;
    min-height: 512px;
    position: absolute;
    top: -151px;
  }
}

@media screen and (min-width: 1440px) {
  .slider__container {
    padding: 0 110px;
    top: -135px;
    right: 0;
  }
}

.slider__image img {
  height: 100%;
  object-fit: cover;
}

.slider__image--fat {
  object-position: left;
}

.slider__image--skinny {
  object-position: right;
}

.slider__toggle {
  position: absolute;
  content: "";
  left: 50%;
  height: 100%;
  width: 4px;
  margin-left: -2px;
  background-color: $color-special-grey;
  z-index: 1;

  &:hover {
    background-color: $color-green;
  }

  &:active {
    background-color: $color-green-hover;
  }
}

.slider__button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 45%;
  left: -17px;
  background-color: $color-white;
  border: 2px solid $color-special-grey;
  border-radius: 20px;
  background-image: url("/img/slider/button.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;

  &:hover {
    background-image: url("/img/slider/button-hover.svg");
    border: 2px solid $color-green;
  }

  &:active {
    background-image: url("/img/slider/button-active.svg");
    border: 2px solid $color-green-hover;
  }
}
