.slider {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.slider__image-fat + .slider__image-skinny {
  border-left: 4px solid #666666;
  border-radius: 2px;
}

.slider__button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 103px;
  left: 120px;
  background-color:  #ffffff;
  border: 2px solid #666666;
  border-radius: 20px;
  background-image: url("/img/slider/button.svg");
  background-position: center;
  background-repeat: no-repeat;
}
